body {
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: conic-gradient(
                at 50% 50%, /* Adjust the vertical position (30% in this example) */
                #00265b 0%, /* Midnight Blue */
                #13293d 10%, /* Dark Grey */
                #422957 15%, /* Hunter Green */
                #192630 30%, /* Dark Charcoal */
                #46232f 45%, /* Dark Purple */
                #6f47a7 60%, /* Deep Brown */
                #4169e1 75%, /* Royal Blue */
                #2a2d3c 90% /* Dark Grey */
              );
  background-attachment:fixed;
}



@keyframes movedown {
from {
  transform: translateY(-20vh);
}

to {
  transform: translateY(0);
}
}

.navbar {
background: rgba(9, 121, 105, 0.3);
/* Use rgba with an alpha value less than 1 */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
margin-top: 30px;
width: 1100px;
border-radius: 05px;
overflow: hidden;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
align-items: center;
height: 80px;
padding: 0 20px;
animation: movedown 1s ease-out forwards;
}

.navbar-brand {
font-size: 1.8em;
font-weight: bold;
color: #ffffff;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
margin-right: auto;
margin-left: auto;
}

.navbar-nav {
margin-right: 10px;
}
a.linkedin-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the default text color */
}

.navbar-nav .nav-link {
color: #ffffff;
font-size: 1.1em;
transition: color 0.3s;
padding: 15px 10px;
}

.navbar-nav .nav-link:hover {
color: #e5e5e5;
}

.navbar-toggler-icon {
background: #ffffff;
}

.about-section {
margin-top: 140px;
margin-bottom: 50px;
text-align: center;
font-weight: normal;
/* Reset to normal since "Roboto Black" is already very bold */
color: #f8f8f8;
font-size: 1em;
font-weight: bold;
}

.about-section-heading {
font-size: 2.5em;
font-weight: bolder;
background: linear-gradient(90deg, rgb(255, 255, 255), #a9a7a7);
/* Adjust the colors as needed */
-webkit-background-clip: text;
color: transparent;
}

.intro-of-team {
font-size: 18px;
text-align: center;
/* Center-align the text */
margin: 5px auto;
/* Set margin to auto on left and right to center the element */
margin-top: -19px;
color: #333;
/* Set the text color */
max-width: 1100px;
/* Optionally, set a maximum width for better readability */
}

/* Our Vision Section */
/* Custom Card Styling */
.custom-card {
background-color: transparent;
border-radius: 15px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden;
width: 1000px;
color: #f8f8f8;
border: 1px solid #f8f8f8;
margin-top: -30px;
margin-left: -35px;
margin-bottom: 40px;
;
transition: transform 0.3s;
animation: custom-card-move-up 1s ease-out forwards;
}

/* Hover Effect - Scale the card slightly on hover */
.custom-card:hover {
transform: scale(1.02);
}

.custom-card-content {
margin-top: 10px;
margin-left: 30px;
margin-bottom: 30px;
animation: fadeInUp 1s ease-out;
color: #f8f8f8;
}

.custom-card-heading {
margin-left: 30px;
/* Adjusted the margin for the heading */
margin-top: 100px;
margin-bottom: 17px;
}

.principles-heading {

margin-top: 50px;
text-align: center;
color: #04569d;
font-size: 2.5em;
font-weight: bolder;
background: linear-gradient(90deg, rgb(255, 255, 255), #939292);
/* Adjust the colors as needed */
-webkit-background-clip: text;
}


.pillars-container {
background-color: white;
height: 700px;
/* Adjust the minimal height as needed */
width: 100%;
/* 100% of viewport width */
padding-top: 50px;
}

.principle-card-col {
margin-bottom: 20px;
}

/* The rest of your styles remain the same */
.principle-card {
margin-top: -4px;
background-color: #04569d;
border: 1px solid #dee2e6;
height: 300px;
border-radius: 10px;
transition: transform 0.3s;
padding-top: 20px;
}

.principle-card:hover {
transform: scale(1.05);
}

.principle-card img {
width: auto;
height: auto;

background-color: #ffffff;
border-radius: 100%;
/* Make the border circular */
display: block;
margin: 0 auto 10px;
}


.principle-card .card-body {
text-align: center;
}

.principle-card .card-text {
color: #495057;
}

.principle-card-heading-text {
text-align: center;
color: #f8f8f8;
font-size: 1em;
font-weight: bolder;
background: linear-gradient(90deg, rgb(255, 255, 255), #939292);
/* Adjust the colors as needed */
-webkit-background-clip: text;
}

.principle-card-text {
text-align: center;
color: #f8f8f8;
font-size: 0.9em;
font-weight: normal;
background: linear-gradient(90deg, rgb(255, 255, 255), #939292);
/* Adjust the colors as needed */
-webkit-background-clip: text;
}

.our-edge-section {
margin-top: 100px;
margin-bottom: 50px;
text-align: center;
font-weight: normal;
/* Reset to normal since "Roboto Black" is already very bold */
color: #f8f8f8;
font-size: 1em;
font-weight: bold;
}

.our-edge-section-heading {
font-size: 2.5em;
font-weight: bolder;
text-align: center;
margin-top: 25px;
margin-bottom: 15px;
background: linear-gradient(90deg, rgb(255, 255, 255), #a9a7a7);
/* Adjust the colors as needed */
-webkit-background-clip: text;
color: transparent;
}

.our-edge-section-container {
background-color: transparent;
height: 500px;
/* Adjust the minimal height as needed */
width: 100%;
/* 100% of viewport width */
padding-top: 20px;
}

.our-edge-section-card {
margin-top: -4px;
background-color: white;
/* Set background color to white */
height: 300px;
border-radius: 10px;
transition: transform 0.3s;
padding-top: 20px;
}

.our-edge-section-card-heading {
text-align: center;
color: black;
font-size: 2em;
font-weight: bolder;
background: linear-gradient(90deg, rgb(255, 255, 255), #939292);
/* Adjust the colors as needed */
-webkit-background-clip: text;
}

.our-edge-section-card-text {
text-align: center;
color: black;
font-size: 0.9em;
font-weight: normal;
background: linear-gradient(90deg, rgb(255, 255, 255), #939292);
/* Adjust the colors as needed */
-webkit-background-clip: text;
}



.our-edge-section-card:hover {
transform: scale(1.05);
}

.our-founders-heading {
font-size: 2.5em;
font-weight: bolder;
text-align: center;
margin-top: 25px;
margin-bottom: 15px;
background: linear-gradient(90deg, rgb(255, 255, 255), #a9a7a7);
/* Adjust the colors as needed */
-webkit-background-clip: text;
color: black;
}

.our-founders-container {
background-color: white;
height: 700px;
/* Adjust the minimal height as needed */
width: 100%;
/* 100% of viewport width */
padding-top: 20px;

}

.our-founders-card {
margin-top: -4px;
background-color: #FAF9F6;
border: 1px solid #dee2e6;
height: 450px;
border-radius: 10px;
transition: transform 0.3s;
padding-top: 40px;
}


.our-founders-card img {
width: 150px;
/* Set the desired width */
height: 150px;
/* Set the desired height */
object-fit: cover;
/* Maintain aspect ratio and cover the container */
border-radius: 50%;
/* Make the border circular */
display: block;
margin: 0 auto 10px;

}


.our-founders-card .card-body {
text-align: center;
}

.our-founders-card .card-text {
color: #495057;
}

.our-founders-card-heading-text {
margin-top: 50px;
text-align: center;
color: black;
font-size: 1.4em;
font-weight: bolder;
background: linear-gradient(90deg, rgb(255, 255, 255), #939292);
/* Adjust the colors as needed */
-webkit-background-clip: text;
}

.our-founders-card-text {
text-align: center;
color: black;
font-size: 0.9em;
font-weight: normal;
background: linear-gradient(90deg, rgb(255, 255, 255), #939292);
/* Adjust the colors as needed */
-webkit-background-clip: text;
}


footer {
  
  padding-bottom: 40px;
  background: #00312c;
}

.footer-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.company-name {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-icons {
  margin-top: 25px;
}

.footer-icon {
  font-size: 22px;
  margin-right: 10px;
  color: #fff;
  transition: color 0.3s ease;
}

.modal-content {
background: transparent;
border: none;
box-shadow: none;
}

.form-container {
  padding: 20px;
  }
  
  .form-control {
    background: white; /* Set the background color with transparency */
    border: 1px solid #ddd; /* Add a border for better visibility */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    margin-bottom: 10px;
  }
  
  
  /* Apply the same styles to textarea */
  .form-control textarea {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  }
  
  .form-modal-title {
  color: #fff;
  /* Set text color to white */
  font-weight: bold;
  /* Make the text bold */
  }

#swip-up-onscroll {
opacity: 0;
transform: translateY(50px);
transition: opacity 0.8s, transform 0.8s;
}

#our-edge-heading {
opacity: 0;
transform: translateY(50px);
transition: opacity 0.8s, transform 0.8s;
}

#our-founder-card-movement {
opacity: 0;
transform: translateY(50px);
transition: opacity 0.8s, transform 0.8s;
}






@keyframes custom-card-move-up {
from {
  opacity: 0;
  transform: translateY(50px);
}

to {
  opacity: 1;
  transform: translateY(0);
}
}

@media only screen and (max-width: 600px) {
.navbar {
  width: 100%;
  /* Adjust width to 100% for smaller screens */
  border-radius: 0;
  /* Remove border-radius for a more standard look */
  height: auto;
  /* Auto height for mobile devices */
  padding: 10px;
  /* Adjust padding for better spacing on smaller screens */
}

.navbar-brand {
  margin-right: 0;
  /* Reset margin for smaller screens */
  margin-left: 0;
  /* Reset margin for smaller screens */
  font-size: 1.5em;
  /* Adjust font size for smaller screens */
}

.navbar-toggler-icon {
  background: #ffffff;
}

.navbar-nav {
  margin-right: 0;
  /* Reset margin for smaller screens */
}

.navbar-nav .nav-link {
  font-size: 1em;
  /* Adjust font size for smaller screens */
  padding: 10px;
  /* Adjust padding for better spacing on smaller screens */
}

.custom-card {
  width: 100%;
  /* Adjust the width for smaller screens */
  margin: 10px;
  /* Adjust the margin for smaller screens */
}

.custom-card-heading {
  margin-left: 10px;
  /* Adjusted the margin for the heading */
  margin-top: 20px;
  margin-bottom: 10px;
}

.custom-card-content {
  margin: 10px;
}

.col-md-5,
.col-md-5.offset-md-2 {
  width: 100%;
  /* Make the columns take full width on smaller screens */
  text-align: center;
  /* Center the content */
}

.img-fluid {
  width: 100%;
  /* Make the image take full width on smaller screens */
  height: auto;
}

.pillars-container {
  height: auto;
  /* Auto height for mobile devices */
  padding-top: 20px;
  /* Adjust top padding */
}

.principle-card {
  height: auto;
  /* Auto height for mobile devices */
}

.principle-card img {
  width: 10%;
  /* Adjust the width to make the image smaller */
  /* Set a maximum width to prevent extremely large images */
  height: auto;
  /* Maintain aspect ratio for responsiveness */
  margin: 0 auto;
  /* Center the image */
  display: block;
}

.our-edge-section-container {
  height: auto;
  /* Auto height for mobile devices */
}

.our-edge-section-card {
  height: auto;
  /* Auto height for mobile devices */
}

.our-edge-section-card-heading,
.our-edge-section-card-text {
  background: none;
  /* Remove background gradient on text */
  -webkit-background-clip: unset;
  color: black;
  /* Set text color to black */
}


.our-founders-container {
  height: auto;
  /* Auto height for mobile devices */
  margin-bottom: 30px;
  /* Adjust bottom margin for better spacing */
}

.our-founders-card {
  height: 350px;
  /* Adjust the height for better proportions on mobile devices */
  padding: 20px;
  /* Adjust padding for better spacing */
  margin-bottom: 20px;
  /* Add margin between cards */
}

.our-founders-card img {
  width: 30%;
  /* Adjust the image width for better fit on smaller screens */
  height: auto;
  /* Maintain aspect ratio for responsiveness */
  border-radius: 50%;
  /* Make the border circular */
  display: block;
  margin: 0 auto 10px;
}

.our-founders-card-heading-text {
  margin-top: 20px;
  /* Adjust top margin for better spacing */
  font-size: 1.5em;
  /* Adjust font size for better readability */
}

.our-founders-card-text {
  font-size: 0.8em;
  /* Adjust font size for better readability */
}

.footer-icons {
  justify-content: center;
}

.footer-icon {
  margin-right: 15px;
  margin-bottom: 15px;
}
}
